scripts/__pycache__/
__pycache__/
*.pyc
.DS_Store
365242__*.wav
42192__*.flac
534113__*.wav
764124__*.wav
365258__*.wav
553217__*.wav
*.crdownload
*のエイリアス
.wrangler/
node_modules/
.dev.vars
.cloudflare-public/
